body {
  background-color: lightsteelblue;
  margin-left: 10px;
}

h1{
  position: relative;
  font-size: 2em;
  padding: 5px;
  background-color: rgb(187, 98, 14);
}

#questiondiv {
  position: relative;
  left: 10px;
  width: 40%;
  padding: 5px;
  font-size: 1.5em;
background-color: lightseagreen;
border-width: 2px;
border-style: solid;
border-color: black;
}

#answerdiv {
  
  position: relative;
  left: 10px;
  width: 40%;
  padding: 5px;
  font-size: 1.5em;
background-color: lightseagreen;
border-width: 2px;
border-style: solid;
border-color: black;
}

ol {
margin: 25px;
}

ul {
margin: 25px;
}

#schooldiv {
  float: left;
  /* display: inline-block; */
  max-width: 300px;
  max-height: auto;
  background-color: lightcoral;
  font-size: 1.5em;
  border-width: : 2px;
  border-style: solid;
  border-color: black;
}

.infobox {
  float: top;
  margin: 25px;
}