

body {
  background-color: lightsteelblue;
  /* margin-left: 10px; */
}

h1{
  position: relative;
  font-size: 2em;
  padding: 5px;
  background-color: rgb(187, 98, 14);
}
.infobox {
  position: relative;

  float: top;
  margin: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 5px;

}
#questiondiv {
  left: 10px;
  width: 40%;
  font-size: 1.5em;
  background-color: lightseagreen;

}

#answerdiv {
  
  left: 10px;
  width: 40%;
  font-size: 1.5em;
  background-color: lightseagreen;

}

ol {
margin: 25px;
padding: 5px;
}

ul {
padding: 5px;
margin: 25px;
}

#schooldiv {
  margin-top: 10px;
  float: left;
  left: 10px;
  width: 40%;
  max-width: 300px;
  max-height: auto;
  background-color: white;
  font-size: 1.5em;
  
  
}

#toptendiv {
margin-top: 10px;
float: right;
width: 50%;
margin-right: 30px;
font-size: 1.5em;

}

section {
  max-width: 40%;
}