body {
  background-color: lightsteelblue;
  margin-left: 10px;
}

h1{
  position: absolute;
  font-size: 2em;
  padding: 5px;
  background-color: rgb(187, 98, 14);
}

#questiondiv {
  position: absolute;
  top: 125px;
  left: 10px;
  width: 40%;
  padding: 5px;
  font-size: 1.5em;
background-color: lightseagreen;
border-width: 2px;
border-style: solid;
border-color: black;
}

#answerdiv {
  position: absolute;
  top: 400px;
  left: 10px;
  width: 40%;
  padding: 5px;
  font-size: 1.5em;
background-color: lightseagreen;
border-width: 2px;
border-style: solid;
border-color: black;
}

ol {
margin: 25px;
}